[Unit]
Description=Nya nyaaa~!
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
#Environment="LD_LIBRARY_PATH=./linux64"
Type=simple
ExecStart=/usr/bin/python3 $HOME/nya.bot/$(bot__name)
Restart=on-failure
User=admin
# WorkingDirectory=$HOME/nya.bot
StandardOutput=append:/var/log/$(bot_name).log
StandardError=append:/var/log/$(bot_name).err

[Install]
WantedBy=multi-user.target
